@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Lexend Exa", serif;
}

/* ------ COLORES ------- */
:root{
    --color1: #000F08;
    --color2: #152829;
    --color3: #5E5958;
    --color4: #EBFFF2;
    --color5: #709799;
    --circle-size: 80%;
    --blending: hard-light;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-gradient{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    background: var(--color1);
    top: 0;
    left: 0;
    z-index: 1;
}   

svg{
    display: none;
}

.grad-container{
    border-radius: 500px;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    min-width: 30rem;
    overflow: hidden;
    background-color: var(--color4);
    transform: scale(0.5);
    filter: blur(80px);
}

.g1{
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    margin: auto;
    background: radial-gradient(var(--color4), var(--color2), var(--color1), var(--color3), var(--color5));
    animation: reverse 8s ease-in-out infinite;
}

.iniciar{
    z-index: 2;
}

.iniciar a{
    padding: 20px 25px;
    min-width: 4vw;
    max-width: 5vw;
    min-height: 4vh;
    max-height: 5vh;
    background: var(--color1);
    border-radius: 3rem;
    border: none;
    color: var(--color5);
    font-size: 2rem;
    text-decoration: none;
}

a:hover{
    background-color: var(--color5);
    color: var(--color1);
    transition: 0.5s ease;
}


  