body{
    background-color: var(--color4);
}

/* ------ COLORES ------- */
:root{
    --color1: #000F08;
    --color2: #152829;
    --color3: #5E5958;
    --color4: #EBFFF2;
    --color5: #709799;
}



.listas{
    background-color: var(--color4);
    margin: 3rem;
    display: flex;
    
    min-height: 100vh;
    /* background-color: olive; */
}

h2{
    /* margin: 1rem; */
    font-size: 2.5rem;
}

.playlist p{
    margin: 1rem;
    /*background-color: aquamarine;*/
    /* width: 45vw; */
    font-size: 1.2rem;
}

.playlist{
    width: 45vw;
    text-align: center;
    margin: 2rem;
    /* background-color: olive; */
}

.main{
    padding: 3rem 20rem;
    width: 100vw;
    max-height: 100vh;
    background-color: var(--color5);
}

.main p{
    margin: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

@media (max-width:991px) {
    
    .titulo{
        width: auto;
    }

    .main p{
        flex-basis: 100%;
        text-align: center;
        font-size: 1.1rem;
    }

    .main{
        padding: 2rem 5rem;
        min-height: 0vh;
        max-height: 100vh;
        /* background-color: aquamarine; */
    }

    .listas{
        flex-direction: column;
        position: relative;
        display: block;
    }

    .playlist{
        width: 80vw;
    }

    .Top{
        text-align: center;
        /* margin: auto; */
        /* display: flex; */
        min-height: 0vh;
        width: auto;
        /* background-color: olive; */
    }

    .Bottom{
        text-align: center;
        /* margin: auto; */
        /* display: flex; */
        min-height: 0vh;
        width: auto;
        /* background-color: olive; */
    }
    
    .playlist h2{
        margin: 2rem 0 1rem 0;
        flex-basis: 100%;
        text-align: center;
        font-size: 1.7rem;
    }

    .playlist p{
        flex-basis: 100%;
        text-align: center;
        font-size: 1rem;
    }


    footer{
        padding: 30px;
    }
}